.inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

article {
  flex: 0 0 auto; /* Ensures the article takes up its portion of the flex container */
}

.wrapper {
  max-width: 60em;
  margin: 1em auto;
  position: relative;
}

input {
  display: none;
}

article img {
  width: 100%;
}

.slider-prev-next-control {
  height: 50px;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.slider-prev-next-control label {
  display: none; /* Display as needed, e.g., for navigation arrows */
}

.slider-dot-control {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.slider-dot-control label {
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #bbb;
  transition: all 0.3s;
  margin: 10px;
}

.slider-dot-control label:hover {
  background: #ccc;
  border-color: #777;
}

.info {
  position: absolute;
  font-style: italic;
  line-height: 20px;
  opacity: 0;
  color: #000;
  text-align: left;
  transition: all 1000ms ease-out 600ms;
}

.info h3 {
  color: #fcfff4;
  margin: 0 0 5px;
  font-weight: normal;
  font-size: 1.5em;
  font-style: normal;
}

.info.top-left {
  top: 30px;
  left: 30px;
}

.info.bottom-right {
  bottom: 30px;
  right: 30px;
}

.slider-wrapper {
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #666;
  background: #fcfff4;
}
