.placee-order{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 20px;
}
.placee-order-left{
    width: 100%;
    max-width: max(80%,500px);

}
.placee-order-right{

    width: 100%;
    max-width: max(20%,500px);
    
}

@media (max-width:750px){
    .placee-order{
        flex-direction: column;
    }
    .placee-order-right{
        display: grid;
        grid-template-columns: repeat(8, 1fr); /* ثماني أعمدة */
        grid-template-rows: repeat(6, 1fr);    /* ست صفوف */
        gap: 10px; /* يمكنك ضبط الفجوة بين العناصر إذا أردت */
    }
}